# Archivos temporales y de compilación
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db